<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116382909-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116382909-1');
</script>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- LOAD CUSTOM STATIC RESOURCES -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/minty.bulma.css"/>
<script type="text/javascript" src="https://use.fontawesome.com/c52691aa8d.js"></script>